
html, body {
    margin: 0;
    padding: 0;
}
#resourcepack {
    border: 2px solid #8ac007;
    padding: 1px 1px 3px;
    z-index: 1;
}
td#template {
    border: 2px solid #8ac007;
    padding: 1px;
    z-index: 1;
}
td#resourcepack label {
    display: block;
    float: right;
    padding-right: 10px;
    white-space: nowrap;
}
#resourcepack input {
    vertical-align: middle;
}
#resourcepack label span {
    vertical-align: middle;
}
#resourcepack select {
    border: medium none;
    margin-bottom: 2px;
}
div#editor {
    border: 2px solid #8ac007;
    height: 200px;
    left: 5px;
    margin-right: 70%;
    position: absolute;
    resize: both;
    top: 40px;
    width: 650px;
    z-index: 1;
}
div#canvas_container {
    position: fixed;
}
.lineHighlight {
    background-color: #006600;
    position: absolute;
    z-index: 20;
}
